@model IEnumerable<EdFi.Roster.Models.ApiLogEntry>

@{
    ViewData["Title"] = "API Call Logs";
}

<h1>@ViewData["Title"]</h1>
<div>
    <button class="btn btn-primary btn" onclick="document.location.href='@Url.Action("ClearLogs")'">Clear Logs</button>
    <button class="btn btn-primary btn" onclick="document.location.href='@Url.Action("RawLog")'">View Raw Logs</button>
    <div class="form-check float-right">
        <input class="form-check-input" type="checkbox" value="" id="hideAuthCheck" checked>
        <label class="form-check-label" for="hideAuthCheck">
            Hide Authentication API Calls
        </label>
    </div>
</div>
<div class="con">
    
    <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Status</th>
                <th>Method</th>
                <th>Resource</th>
                <th>Raw Data</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Uri.Contains("oauth/token") ? "parent-row authentication-request" : "parent-row")">
                <td>
                    @item.LogDateTime
                </td>
                <td>
                    @item.StatusCode
                </td>
                <td>
                    @item.Method
                </td>
                <td>
                    @item.Uri
                </td>
                <td style="text-align:justify">
                    <span class="sign btn btn-outline-primary" style="margin-right: 5px"></span>
                </td>
            </tr>
            <tr class="child-content">
                <td colspan="12">
                    <table class="table table-striped table-hover table-bordered table-responsive">
                        <tbody class="content-tbody">
                        <tr><td><pre class="json-container prettify">@item.Content</pre></td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        var toggleAuthApiCalls = function () {
            if (this.checked) {
                $(".authentication-request").hide("slow");
                $(".authentication-request").each(function () {
                    $(this).removeClass("expand");
                    $(this).next("tr").hide("slow");
                });
            } else {
                $(".authentication-request").show("slow");
            }
        };

        $(document).ready(function () {
            $(".authentication-request").hide();
            $("#hideAuthCheck").change(toggleAuthApiCalls);
        });
    </script>
}
