@model  ExtendedInfoResponse<List<School>>

@{
    ViewData["Title"] = "Schools";
}

<h1>Schools</h1>

Operations

Load / Reload

<p> Get Schools from the configured Ed - Fi API (This will overwrite the currently stored schools</p>
<div><button id="btnLoadSchools" class="btn btn-primary btn" onclick="document.location.href='@Url.Action("LoadSchools")'">Get Schools</button></div>
@if (Model.IsExtendedInfoAvailable)
{
    await Html.RenderPartialAsync("_ExtendedInfoResponsePage", Model.GeneralInfo);
}
<hr />
<form>
    Current Schools Saved
    <table class="table">
        <thead>
            <tr>
                <th>School Id</th>
                <th>Name Of Institution</th>
                <th>Api Resource Id</th>
                <th>Json Payload</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FullDataSet)
            {
                <tr class="parent-row">
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfInstitution)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="text-align:justify">
                        <span class="sign btn btn-outline-primary" style="margin-right: 5px"></span>
                    </td>
                </tr>
                <tr class="child-content">
                    <td colspan="12">
                        <table class="table table-striped table-hover table-bordered table-responsive">
                            <tbody class="content-tbody">
                            <tr><td><pre class="json-container prettify">@item.ToJson()</pre></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@section Scripts {
    <script>
        var addSpinner = window.addSpinner;
        $(document).ready(function () {
            $("#btnLoadSchools").click(function () {
                addSpinner($(this), "Loading Schools");
            });
        });
    </script>
}
